<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
<connectionStrings><add name="BooksDBEntities" connectionString="metadata=res://*/EntityModels.csdl|res://*/EntityModels.ssdl|res://*/EntityModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MAIN\SQLEXPRESS;initial catalog=BooksDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="BooksDBEntities1" connectionString="metadata=res://*/BooksEntity.csdl|res://*/BooksEntity.ssdl|res://*/BooksEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MAIN\SQLEXPRESS;initial catalog=BooksDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>